{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg" alt="">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png" alt="">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <main class="community">
        <div class="community__tab">
            <button class="button community__tab-button">База знань</button>
            <button class="button community__tab-button active">Інформація</button>
        </div>

        <div class="community__main">

            <img src="/img/com__img.png" alt="">

            <section class="community__info">
                <h2 class="community__info--title">Що таке база знань?</h2>
                <p class="community__info--text">База знаний — база данных, содержащая правила вывода и информацию о
                    человеческом опыте и знаниях в
                    некоторой предметной области. В самообучающихся системах база знаний также содержит информацию,
                    являющуюся результатом решения предыдущих задач. </p>
            </section>

            <button class="button community__button">Перейти до ком'юніті у Телеграм</button>

        </div>

    </main> --}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}